- title "Itineraries"
%table
  %tr
    %th
      Title
  - for itinerary in @itineraries
    %tr
      %td
        = link_to itinerary.title, itinerary

%p
  = link_to "New Itinerary", new_itinerary_path
