- title @itinerary.title
#itinerary
  %h5 Itinerary Selector
  = text_field :locations, :name, :id => "geocoding_suggest", :size => 26, :value => "", :class => "focus"
  %ul#location_list
#mapdiv{:style => "height: 500px"}
