- title @itinerary.title
#mapdiv{:style => "height: 500px"}
:javascript
  var location_manager;
  $(document).ready(function() {
    // Google Maps
    map = new GMap2(document.getElementById("test"));
    map.setCenter(new GLatLng(51.520832, -0.140133), 2);
    map.setUIToDefault();
    
    var location_manager = $(map).add_location_manager();
  });
  
  uki([
      { view: 'Box', rect: '0 0 1000 31', anchors: 'left top right', background: 'theme(panel)',
          childViews: { view: 'TextField', rect: '20 5 260 20', anchors: 'left', placeholder: 'Search', id: "lm_search" }
      },
      { view: 'SplitPane', rect: '0 30 1000 600', anchors: 'left top right bottom', 
          handlePosition: 300, autogrowLeft: false, autogrowRight: true, autogrowLeft: false, handleWidth: 1, rightMin: 400, leftMin: 150,
          leftChildViews:
              { 
                
                view: 'ScrollPane', rect: '0 0 300 600', anchors: 'top left right bottom', background: '#d0d2d7', name: 'pane_1', id: "left_panel", scrollableH: true,
              },
          rightPane: {
              childViews: { view: 'ScrollPane', rect: '0 0 699 600', anchors: 'top left right bottom',
                  scrollableH: true, scrollableV: true, name: 'pane_2', id: "test"
              }
          }
      }
  ]).attachTo( window, '1000 630' );
  