- title @itinerary.title
#itinerary
  %h5 Itinerary Selector
  = text_field :locations, :name, :id => "geocoding_search", :size => 26
%div
  = @map.to_html
%div{ :style => "width: 100%; height: 550px" }
  = @map.div
%div{ :style => "clear: both" }
/ %p
/   = link_to "Edit", edit_itinerary_path(@itinerary)
/   |
/   = link_to "Destroy", @itinerary, :confirm => 'Are you sure?', :method => :delete
/   |
/   = link_to "View All", itineraries_path
