.lm_list
  padding: 20px
  font-family: verdana
  list-style: none
  
  li
    width: 250px
    padding: 5px
    margin: 4px 0
    font-size: 0.8em
    background: #f9f9f9
    -moz-border-radius: 5px
    -webkit-border-radius: 5px 
    border: 1px solid #999
    
.delete_location
  float: right