%h2.text_title= @location.address
- form_for(@location, :method => :put, :url => itinerary_location_path(params[:itinerary_id], @location)) do |f|
  %p= f.text_area(:description, :style => "width: 100%; height: 500px;font: normal 1.1em verdana", :id => "field1")
  %p= f.submit("Save")

:javascript
  new nicEditor(new nicEditor({buttonList : ['bold','italic','underline','left','center','right','ol','ul','fontSize','fontFamily','fontFormat','superscript','subscript','indent','outdent','link','unlink','striketrhough','forecolor','bgcolor','image','upload']})).panelInstance('field1');